<!-- extending from base layout --->
{% extends "base.html" %}

<!-- changing title --->
{% block title %} - Cart {% endblock title %}

<!-- changing content --->
{% block content %}
<h2>Your Cart</h2>

<!-- if the cart is not empty, we display items and relative buttons -->
{% if cart %}
<table>
	<tr>
		<th>Quantity</th>
		<th>Image</th>
		<th>Name</th>
		<th>Price</th>
	</tr>
	{% for item_id, item_info in cart.items() %}
	<tr>
		<td>{{ item_info.quantity }}</td>
		<td>{{ item_info.filename }}</td>
		<td>{{ item_info.name }}</td>
		<td>{{ item_info.price }}</td>
	</tr>
	{% endfor %}
</table>

<!-- clear cart -->
<form action="{{ url_for('clear_cart') }}" method="POST">
	<button class="btn btn-shop-now" type="submit">Clear cart</button>
</form>

<!-- continue shopping -->
<a href="/items" class="btn btn-shop-now">Continue shopping</a>

<!-- proceed to checkout -->
<form action="{{ url_for('checkout') }}" method="POST">
	<button class="btn btn-shop-now" type="submit">Proceed to Checkout</button>
</form>

<!-- else we tell the user that the cart is empty -->
{% else %}
<p>Your cart is currently empty!</p>
<a href="/items" class="btn btn-shop-now">Shop now</a>
{% endif %} {% endblock content %}
