<!-- extending from base layout --->
{% extends "base.html" %}

<!-- changing title --->
{% block title %} - Cart {% endblock title %}

<!-- changing content --->
{% block content %}
<h2>Your Cart</h2>

<!-- if the cart is not empty, we display items and relative buttons -->
{% if cart %}
<table>
	<tr>
		<th>Quantity</th>
		<th>Image</th>
		<th>Name</th>
		<th>Price</th>
	</tr>
	{% for item_id, item_info in cart.items() %}
	<tr>
		<td>{{ item_info.quantity }}</td>
		<td>{{ item_info.filename }}</td>
		<td>{{ item_info.name }}</td>
		<td>{{ item_info.price }}</td>
	</tr>
	{% endfor %}
</table>

<form action="{{ url_for('clear_cart') }}" method="POST">
	<button type="submit">Clear cart</button>
</form>
<!-- else we tell the user that the cart is empty -->
{% else %}
<p>Your cart is currently empty!</p>
<form action="/items" method="POST">
	<button type="submit">Shop now</button>
</form>
{% endif %} {% endblock content %}
