<!-- extending from base layout --->
{% extends "base.html" %}

<!-- changing title --->
{% block title %} - Items {% endblock title %}

<!-- changing content --->
{% block content %}

<h2>All items</h2>
<div class="items-list mt-4">
	{% for item in items %}
	<div class="item-card">
		<div class="item-image">
			<img
				src="{{ url_for('static', filename='imgs/' + item.filename) }}"
				alt="Product image"
			/>
		</div>
		<div class="item-info">
			<p class="item-name">{{ item.name }}</p>
			<p class="item-tags">{{ item.category.name }}</p>
			<hr />
			<p class="item-price">£{{ item.price }}</p>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content%}
