/* ------------------------------------- */
/* Main styling */
body {
    background-color: rgb(219, 223, 234);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: rgb(130, 148, 196);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.mt-5-half {
    margin-top: 5.5em;
}

/* ------------------------------------- */
/* Navbar */

.custom-navbar {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(130, 148, 196);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

 .navbar-brand {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

/* ------------------------------------- */
/* Home page */

.jumbotron {
    position: relative;
    background-image: url("../imgs/banner.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 100px 0;
    text-align: center;
    z-index: 1;
    border-radius: 20px;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 148, 196, 0.3);
    z-index: -1;
    border-radius: 20px;
}

.jumbotron h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.jumbotron p {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.btn-shop-now {
    background-color: rgb(130, 148, 196);
    color: #fff;
    font-size: 1.25rem;
    padding: 10px 30px;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.btn-shop-now:hover {
    background-color: rgb(92, 109, 156);
    color: #fff;
}

.flex-grid {
    display: flex;
    row-gap: 1em;
    column-gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-grid a {
    text-decoration: none;
}

/* ------------------------------------- */
/* Item listing page */

.items-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.items-list a {
    text-decoration: none;
}

.item-card {
    display: flex;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #8294C4;
}

.item-card hr {
    margin-bottom: .5em;
    margin-top: .5em;
    color: #fff;
}

.item-image {
    display: flex;
    align-items: center;
    width: 50%;
}

.item-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.item-info {
    flex: 1;
    padding: 1em;
    width: 50%;
}

.item-name {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.item-tags {
    color: #FFEAD2;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #FFEAD2;
    text-decoration-thickness: .1em;
    margin-bottom: 5px;
}

.item-price {
    color: white;
    font-weight: bold;
}

.item-card:hover {
    transform: translateY(-2px);
}


/* ------------------------------------- */
/* Item details page styling */

.item-details {
    display: flex;
}

.item-details-image {
    display: flex;
    justify-content: center;
    width: 50%;
}

.item-details-image img {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.item-details-info {
    flex: 1;
    padding: 1em;
    width: 50%;
}

/* ------------------------------------- */
/* Categories page */
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

/* ------------------------------------- */
/* Cart page */

.cart-right-side {
    background-color: #8294c4;
}


.cart-right-side h3, 
.cart-right-side h5 {
    color: #fff;
}

/* ------------------------------------- */
/* Media queries */

@media (max-width: 767px) {
    .flex-grid {
        justify-content: center;
    }
}

@media (min-width: 767px) {
    .items-list {
        justify-content: space-between;
    }

    .flex-container {
        flex-direction: row;
    }
}

@media (max-width: 992px) {
    .cart-right-side {
        width: 100%;
    }
}